{% extends 'default.html' %}
{%block body%}
<div class="container">
    {{super()}}
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body pcolor">
                    <img class="img-fluid inset-large-images"
                        src="{{url_for('static', filename='images/cinema-curtain.jpg')}}" alt="cinema curtain.jpg">
                    <p>
                        <h6>Photo free - pixabay</h6>
                    </p>
                    <p><span class="first-letter">W</span>ho are we?</p>
                    <p>We are a group of film fanatics who enjoy watching all types of films, from the hollywood
                        blockbusters, world cinema to the plethora of independent productions the world over. We enjoy
                        films
                        big budget and small.</p>
                    <p>So, when we see the modern trope of slander to films in cinemas and on streaming site, we
                        wondered
                        what we had missed. On closer examination we found a disturbing trend of predetermined agenda on
                        the
                        social media. Many people leaving unfair remarks to many for reasons varying from receiving
                        clicks
                        on you-tube, group affiliations, to joining in for fun. However, many of the comments seemed to
                        be
                        by people who really did not critique the film, backed up by any real examples. They were simply
                        projecting opinions.</p>
                    <p>To us, this is a travesty and undermines the work and effort done by many people. Some young
                        starters in the long-standing industry professional. Many films are made on tiny budgets, and
                        some
                        made on large budgets. Indeed, some films made with access to intrinsic capital assets, not
                        explicitly stated as cash, and of course those made with virtually none of either.</p>
      
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <!-- Legal -->
            <div class="col-sm-12 text-center  w-100">
                <div class="legal-message">
                    <p>
                        <h3>{{lg}}</h3>
                    </p>
                </div>
            </div>
            <!-- Footer -->
            <div class="row">
                <div class="col-sm-12 text-center  w-100">
                    <div class="footer">
                        <h2>{{fm}}</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock body%}