{% extends 'default.html' %}

<body>
    <!-- ERROR PAGE -->
    {% block body %}
    <div class="container">
        {{super()}}
        <div class="row">
            <div class="col-md-12">
                <!-- Panel -->

                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <p>SUCCESS!</p>
                                <p>You have successfully submitted your request!</p>
                                <p>
                                    One of our administrator members will review your request. We will decide if the film has merits and within our codes of cunduct before we proceed
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                            <!-- Legal -->
            <div class="col-sm-12 text-center  w-100"></div>
            <div class="legal-message">
                <p>
                    <h3>{{lg}}</h3>
                </p>
            </div>
            </div>

                <!-- Footer -->
                <div class="row">
                    <div class="col-md-12 text-center  w-100">
                        <div class="footer">
                            <h2>{{fm}}</h2>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    {% endblock body %}
</body>

</html>