{% extends 'default.html' %}
{%block body%}
<div class="container">
    {{super()}}

    <!-- Image -->
    <div class="row">
        <div class="col-sm-12">
            <img class="img-fluid inset-images" src="{{url_for('static', filename='images/lamp.png')}}"
                alt="lamp-image">
        </div>
    </div>

    <h6>Photo Raphaelsilva Pixabay License </h6>

    <div class="row">
        <div class="col-md-12 text-justify">

            <div class="panel panel-default">
                <div class="panel-body">
                    <p>If you are not one of our reviewers and wish to submit a specific film suggestion for our members
                        for review, please complete the form and
                        submit.</p>
                    <p>Please ensure
                        the film is supported with an english audio track. Or has english subtitles. Is attainable, and
                        formally
                        released. We will not engage in the review of movies of a sexual or
                        offensive nature, or films that are illegally obtained or bootleg.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">


            <hr>


            <!-- Search Button & Form -->
            <div class="row">
                <div class="col-md-12">
                    <form action="contribute-success" method="POST">

                        <!-- Email Address -->
                        <div class="form-group">
                            <label for="email">Email address:</label>
                            <input type="email" class="form-control" id="email" required="true">
                        </div>
                        <!-- MessageBox -->
                        <div class="form-group">
                            <label for="textarea">Message:</label>
                            <textarea name="textmessage" class="form-control" rows="10" cols="50"
                                id="textarea"></textarea>
                        </div>

                        <!-- Submit Button -->
                        <button name="submit" type="submit" class="btn btn-primary" value="submit">Submit</button>

                    </form>
                </div>
            </div>



            <!-- Footer -->
            <div class="row">
                <div class="col-md-12 text-center  w-100">
                    <div class="footer">
                        <h2>{{fm}}</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock body%}