{% extends 'default.html' %}
<body>
    {% block body %}
    <div class="container-fluid">
        {{super()}}
        <div class="row">
            <div class="col-sm-12">
                <!-- Jumbotron -->
                <div class="jumbotron">
                    <img class="img-fluid inset-large-images" src="{{url_for('static', filename='images/cinema5.jpg')}}"
                        alt="cinema5.jpg">
                    <p></p>
                    <h6>Photo by Clem Onojenghuo from pexels</h6>
                    </p>
                    <h1>REAL MOVIE REVIEWS DATABASE</h1>
                    <p><h4>We pride ourselves on members providing un-bias reviews for movies big and small.
                        </h4></p>
                </div>
                <!-- Legal -->
                <div class="col-sm-12 text-center  w-100"></div>
                <div class="legal-message">
                    <p>
                        <h3>{{lg}}</h3>
                    </p>
                    <p>
                    <!-- DELETE LINK - PRIOR TO PRODUCTION -->
                    <a href={{ url_for('promoteUser') }}>** Delete this link prior to production **</a>
                    </p>    
                </div>
                <!-- Footer -->
                <div class="row">
                    <div class="col-sm-12 text-center  w-100">
                        <div class="footer">
                            <h2>{{fm}}</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock body %}
</body>