{% extends 'default.html' %}
<body>
    <!-- SUBMISSION SUCCESS PAGE -->
    {% block body %}
    <div class="container-fluid">
        {{super()}}
        <div class="row">
            <div class="col-sm-12">
                <!-- Panel -->
                <div class="row">
                    <div class="col-sm-12">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <p>SUBMISSION SUCCESS!</p>
                                <p>You have successfully submitted your review!</p>
                            </div>
                        </div>
                    </div>
                    <!-- Legal -->
                    <div class="col-sm-12 text-center  w-100"></div>
                    <div class="legal-message">
                        <p>
                            <h3>{{lg}}</h3>
                        </p>
                    </div>
                </div>
                <!-- Footer -->
                <div class="row">
                    <div class="col-sm-12 text-center  w-100">
                        <div class="footer">
                            <h2>{{fm}}</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    {% endblock body %}
</body>
 