{% extends 'default.html' %}
{% block body %}
<div class="container">
    {{super()}}
    <!-- Image -->
    <div class="row">
        <div class="col-sm-12">
            <img class="img-fluid inset-images" src="{{url_for('static', filename='images/man-1351317_1280.png')}}"
                alt="man-typing image">
        </div>
    </div>
    <p>
        <h6>Photo Pixabay License </h6>
    </p>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <p>Authorized movie reviewer, Admin Page.</p>
                    <p>If you are an <span><a href="{{url_for('register')}}" class="highlight-text">authorized
                                reviewer</a></span> you can create a review for a movie here. </p>
                    <p>Please place meaningful information on the page. Complete all fields and abide by our posting
                        rules, which we sent with your 'welcome email'</p>
                    <p>Finally remember to enter your access-credentials on submission, as posting is blocked without
                        auto verification.... and keep it hidden, keep it safe!</p>
                </div>
            </div>
        </div>
    </div>
    <br>
    <!-- Search Button & Form -->
    <div class="row">
        <div class="col-md-12">
            <form action="#" method="POST" class="form-group">
                <!-- Username -->
                <div class="form-group">
                    <label for="username">Username:</label>
                    <input type="text" name="username" class="form-control" id="username" required="true">
                </div>
                <!-- Email -->
                <div class="form-group">
                    <label for="e-mail">Email address:</label>
                    <input type="e-mail" name="e-mail" class="form-control" id="e-mail" required="true">
                </div>
                <!-- Pasword -->
                <div class="form-group">
                    <label for="pwd">Password:</label>
                    <input type="password" name="password" class="form-control" id="pwd" required="true">
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-12">
                        <img src="" alt="">
                    </div>
                </div>
                <div class="row">
                    <!-- Search Title -->
                    <div class="col-sm-12form-group">
                        <label for="m-title">Movie Title:</label><br>
                        <input id="m-title" class="form-control" name="m-title" type="text" placeholder="Movie-Title:"
                            required></input>
                    </div>
                    <!-- Search Subtitle -->
                    <div class="col-sm-12">
                        <label for="m-sub-title">Movie Sub Title:</label><br>
                        <input id="m-sub-title" class="form-control" name="m-sub-title" type="text" class="entry-box"
                            placeholder="Sub-Title:"></input>
                    </div>
                    <!-- Image Link -->
                    <div class="col-sm-12">
                        <label for="m-image-link">Image:</label><br>
                        <input id="m-image-link" class="form-control" name="m-image-link" type="text" class="entry-box"
                            placeholder="Image-link:"></input>
                    </div>
                    <!-- Affiliate Link -->
                    <div class="col-sm-12">
                        <label for="m-af-link">Affiliate Link:</label><br>
                        <input id="m-af-link" class="form-control" name="m-af-link" type="text" class="entry-box"
                            placeholder="Affiliate-link:"></input>
                    </div>
                    <!-- Genre -->
                    <div class="col-sm-12">
                        <label for="m-genre">Genre:</label><br>
                        <select id="m-genre" class="form-control" name="m-genre" type="text" class="entry-box">
                            <option value="Drama">Drama</option>
                            <option value="Action">Action/Adventure</option>
                            <option value="Horror">Horror</option>
                            <option value="Sci-fi">SciFi</option>
                            <option value="Rom-Com">RomCom</option>
                            <option value="Mystery">Mystery</option>
                        </select>
                    </div>
                    <!-- Search Synopsis -->
                    <br>
                    <div class="col-sm-12">
                        <label for="m-synopsis">Synopsis:</label><br>
                        <textarea id="m-synopsis" name="m-synopsis" type="textarea" class="form-control t-entry-box"
                            rows="10" cols="100%" placeholder="Synopsis:"></textarea>
                    </div>
                    <!-- Reviewer Name -->
                    <br>
                    <div class="col-sm-12">
                        <label for="r-name">Reviewer Name:</label><br>
                        <input id="r-name" name="r-name" type="text" class="form-control t-entry-box"
                            placeholder="Reviewer Name:"></input>
                        <!-- Review Date -->
                        <br>
                        <label for="r-date">Review Date:</label><br>
                        <input id="r-date" name="r-date" type="date" class="form-control t-entry-box"
                            placeholder="Review Date:"></input>
                    </div>
                    <!-- Stars -->
                    <div class="col-sm-12">
                        <label for="m-stars">Movie Stars:</label><br>
                        <select id="m-stars" name="m-stars" type="text" class="form-control t-entry-box">
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                    </div>
                    <hr>
                </div>
                <!-- Script Review -->
                <div class="form-group">
                    <label id="sc-review" for="m-title">Script-review & Citation:</label><br>
                    <textarea name="sc-review" class="form-control t-entry-box" rows="10" cols="100%" id="textarea"
                        placeholder="Story/Script-Review"></textarea>
                    <textarea name="sc-example" class="form-control t-entry-box" rows="10" cols="100%" id="textarea"
                        placeholder="Story/Script-example"></textarea>
                    <hr>
                </div>
                <!-- Acting Review -->
                <div class="form-group">
                    <label for="m-title">Acting-review & Citation:</label><br>
                    <textarea id="ac-review" name="ac-review" class="form-control t-entry-box" rows="10" cols="100%"
                        id="textarea" placeholder="Acting-Review"></textarea>
                    <textarea name="ac-example" class="form-control t-entry-box" rows="10" cols="100%" id="textarea"
                        placeholder="Acting-example"></textarea>
                    <hr>
                </div>
                <!-- Technical Review -->
                <div class="form-group">
                    <label for="te-reviewer">Technical-review & Citation:</label><br>
                    <textarea id="te-review" name="te-review" class="form-control t-entry-box" rows="10" cols="100%"
                        id="textarea" placeholder="Technical-Review"></textarea>
                    <textarea name="te-example" class="form-control t-entry-box" rows="10" cols="100%" id="textarea"
                        placeholder="Technical-example"></textarea>
                    <hr>
                </div>
                <!-- Sound/Audio Review -->
                <div class="form-group">
                    <label for="so-review">Sound-review & Citation:</label><br>
                    <textarea id="so-review" name="so-review" class="form-control t-entry-box" rows="10" cols="100%"
                        id="textarea" placeholder="Sound/Audio - Review"></textarea>
                    <textarea name="so-example" class="form-control t-entry-box" rows="10" cols="100%" id="textarea"
                        placeholder="Sound/Audio - example"></textarea>
                    <hr>
                </div>
                <!-- Summary Review -->
                <div class="form-group">
                    <label for="su-review">Summary-review:</label><br>
                    <textarea id="su-review" name="su-review" class="form-control t-entry-box" rows="10" cols="100%"
                        id="textarea" placeholder="Overall - Summary"></textarea>
                    <hr>
                </div>
                <!-- Submit Button -->
                <button type="submit" class="btn btn-primary">Submit Review</button>
            </form>
        </div>
    </div>

    <!-- Legal -->
    <div class="col-sm-12 text-center  w-100"></div>
    <div class="legal-message">
        <p>
            <h3>{{lg}}</h3>
        </p>
    </div>


    <!-- Footer -->
    <div class="row">
        <div class="col-sm-12text-center  w-100">
            <div class="footer">
                <h2>{{fm}}</h2>
            </div>
        </div>
    </div>

</div>
 
{% endblock body %}