{% extends 'default.html' %}
{% block body %}
<div class="container">
    {{super()}}
    <!-- Image -->
    <div class="row">
        <div class="col-sm-12">
            <img class="img-fluid inset-images" src="{{url_for('static', filename='images/man-1351317_1280.png')}}"
                alt="man-typing image">
        </div>
    </div>
    <p>
        <h6>Photo Pixabay License </h6>
    </p>
    <form action="#" method="POST" class="form-group">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <p><b>Member Options page</b></p>
                        <input type="radio" name="user-options" value="None" class="form-group" checked> -Get My
                        Review(s)</input><br>
                        <input type="radio" name="user-options" value="Update" class="form-group"> -Update
                        My Review</input><br>
                        <input type="radio" name="user-options" value="Delete" class="form-group"> -Delete
                        My Review</input><br>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <!-- Search Button & Form -->
        <div class="row">
            <div class="col-md-12">
                <!-- Username -->
                <div class="form-group">
                    <label for="username">Username:</label>
                    <input type="text" name="username" class="form-control" id="username" required="true">
                </div>
                <!-- Email -->
                <div class="form-group">
                    <label for="e-mail">Email address:</label>
                    <input type="e-mail" name="e-mail" class="form-control" id="e-mail" required="true">
                </div>
                <!-- Pasword -->
                <div class="form-group">
                    <label for="pwd">Password:</label>
                    <input type="password" name="password" class="form-control" id="pwd" required="true">
                </div>
                <hr>
                <!-- Grab Button -->
                <button type="submit" name="submit_button" class="btn btn-primary">Process</button>
                <hr>
            </div>
        </div>
        <!-- // -->
        <div class="row">
            <div class="col-sm-12 form-group">
                <label for="review-item">Movie Review:</label>
                <select name="movie-list" id="review-item" class="form-control form-group">
                    {% for m in rev_bag %}
                    <option value={{ m['_id'] }}> {{m['m-title'] }} : {{ m['_id'] }} </option>
                    {%endfor%}
                </select>
            </div>
        </div>
        <!-- Legal -->
        <div class="col-sm-12 text-center  w-100">
            <div class="legal-message">
                <p>
                    <h3>{{lg}}</h3>
                </p>
            </div>
        </div>
    </form>
    <!-- Footer -->
    <div class="row">
        <div class="col-sm-12 text-center  w-100">
            <div class="footer">
                <h2>{{fm}}</h2>
            </div>
        </div>
    </div>
</div>
{% endblock body %}