{% extends 'default.html' %}
{% block body %}
<div class="container">
    {{super()}}
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <p>Updated Review Successfully!</p>
                </div>
            </div>
        </div>
    </div>
    <!-- Legal -->
    <div class="col-sm-12 text-center  w-100">
        <div class="legal-message">
            <p>
                <h3>{{lg}}</h3>
            </p>
        </div>
    </div>
</div>
<!-- Footer -->
<div class="col-sm-12 text-center  w-100">
    <div class="footer">
        <h2>{{fm}}</h2>
    </div>
</div>
</div>
{% endblock body %}